<div class="header-tools">
  <img src="Imagenes/logo-bookmark.svg" alt="logo de bookmark" />
  <nav>
    <p>FEATURES</p>
    <p>PRICING</p>
    <p>CONTACT</p>
    <button id="log-btn">LOGIN</button>
  </nav>
</div>
<div class="header-content">
  <div id="info">
    <h2>A Simple Bookmark Manager</h2>
    <p>
      a clean and simple interface to organize your favourite websites.Open a
      new browser tab and see your sites loads instantly. Try it for free
    </p>
    <div class="button-container">
      <button class="primary">Get it on Chrome</button>
      <button class="primary">Get it on Firefox</button>
    </div>
  </div>
  <img
    id="hero-brand"
    src="Imagenes/illustration-hero.svg"
    alt="image of a simple brand"
  />
</div>
