<section>
  <div id="extension-section">
    <h2>Download the Extension</h2>
    <p>
      We got more browsers in the pipeline. Please do let us know if you've got
      a favourite you'd like us to prioritize.
    </p>
  </div>

  <div class="card-section">
    <app-card
      [imgContent]="'Imagenes/logo-chrome.svg'"
      [h4Content]="'Chrome Extension'"
      [pContent]="'Get the Chrome extension for a better browsing experience.'"
    ></app-card>

    <app-card
      [imgContent]="'Imagenes/logo-firefox.svg'"
      [h4Content]="'Firefox Extension'"
      [pContent]="
        'Firefox users can install our extension for enhanced security.'
      "
    ></app-card>

    <app-card
      [imgContent]="'Imagenes/logo-opera.svg'"
      [h4Content]="'Edge Extension'"
      [pContent]="'Microsoft Edge users can also enjoy our powerful features.'"
    ></app-card>
  </div>
</section>
