<section id="features-section">
  <h2>Features</h2>
  <p>
    Our aim is to make it quick and easy for you yo access your favourite
    websites. Your bookmarks sync between your devices so you can access them on
    the go
  </p>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        
        <p class="tab-text">Simple Bookmarking</p>
      </ng-template>
      <app-tab></app-tab>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>

        <p class="tab-text">Speedy Searching</p>
      </ng-template>
      <app-tab-2></app-tab-2>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
   
        <p class="tab-text">Easy Sharing</p>
      </ng-template>
      <app-tab-3></app-tab-3>
    </mat-tab>
  </mat-tab-group>
</section>
